.container{
    display: flex;
    /* margin-top: 10px; */
}

.link{
    text-decoration: none;
    color: inherit;
}

.sub-container {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #F2F2F2;
}