.titleBox {
    flex: 4;
    padding: 20px;
    background-color: "black";
  }
  
  .heading {
    flex: 4;
    margin: 20px;
    z-index: 99;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .subheadingContainer {
    display: flex;
    align-items: center;
    background-color: aqua; 
  }
  
  .confirmButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .editButton {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    /* margin: 0 10px 0; */
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .editButtonColor {
    background-color: #bdba2c;
  }
  
  .deleteButton {
    color: red;
    cursor: pointer;
  }
  
  
  .deleteButton:hover {
    background-color: #378cbb;
    border: 2px solid #378cbb;
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: white;
    border: 2px solid #378cbb;
    padding: 6px 10px;
    border-radius: 5px;
    color: #378cbb;
    font-size: 14px;
    cursor: pointer;
  }
  
  .adduserBox {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px 25px 25px 25px;
  }
  

.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #01579b;
    color: #ffffff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem 0rem 0rem;
}

.sidebar-header span img{
    margin-left: 0.2rem;
    width: 35px;
    height: auto;
}

.sidebar-header h3 span{
    float: left;
    margin-left: 0.3rem;
    margin-top: 1.1rem;
}

.sidebar-menu{
    padding: 1rem;
}

.sidebar li{
    margin-bottom: 1.2rem;
}
/*Dropdown button styles*/
.sidebar .dropdown-btn {
    /*padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
.sidebar .dropdown-btn .ficon{
    padding-right: .9rem;
}  
  /* Dropdown container (hidden by default).*/
  .dropdown-container {
    width: 100px;
    display: none;
    background-color: rgb(170, 170, 170);
    text-align: center;
    border-radius: 6px;
    margin-left: 1.5rem;
  }
  /*Style the caret down icon */
  .fa-caret-down {
    float: center;
    padding-left: 20px;
  }
 
.sidebar a, .dropdown-btn {
    color: #fff;
    font-size: .9rem;
}
.sidebar a:hover, .dropdown-btn:hover {
    color: #00ccff;
  }
  .dropdown-container a:hover{
    color: #000051;
    font-weight: 600;
}
  .active {
    /*background-color: rgb(255, 255, 255);*/
    color: #00ccff;
  }
.sidebar a span:last-child{
    padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar{
    width: 60px;
}


#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child,
#sidebar-toggle:checked ~ .sidebar .dropdown-btn .arti,
#sidebar-toggle:checked ~ .sidebar .dropdown-btn .fa-caret-down{
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header .ti-menu-alt{
    float: left;
    margin-right: 0.8rem;
}


#sidebar-toggle:checked ~ .sidebar .sidebar-menu .dropdown-container{
    position:fixed;
}

/*#sidebar-toggle:checked ~ .sidebar .sidebar-menu,
#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;
}*/
#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header{
    width: 96%;
}

.main-content{
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

