.common {
  /* flex: 4; */
  padding: 20px;
  /* background-color: "black"; */
}

.userList {
  /* flex: 4;
  margin: 20px;
  z-index: 99; */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.userListInventory {
  /* flex: 4;
  margin: 20px;
  z-index: 99; */
  background-color: white;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

.userListUser {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  /* margin: 0 10px 0; */
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.buttonsColor {
  background-color: #bdba2c;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 223, 223);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.color-contained-button, .color-outlined-button:hover {
  background-color: #378cbb;
  border: 2px solid #378cbb;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.color-outlined-button, .color-contained-button:hover {
  background-color: white;
  border: 2px solid #378cbb;
  padding: 6px 10px;
  border-radius: 5px;
  color: #378cbb;
  font-size: 14px;
  cursor: pointer;
}
/* h1 */
.addTitle {
  font-size: 28px;
  font-weight: bold;
}
.h2Title {
  font-size: 24px;
  font-weight:100;
}
.h3Title {
  font-size: 17px;
  font-weight: 600;
  color: #555;
}

.top-container-material-request {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0px 25px 25px 25px;
}

/* @media only screen and (max-width: 600px) {
  .common {
    width: 100vw;
    overflow: hidden;
  }
} */
